# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
/checkpoints/BasicModule/*
/checkpoints/bninception/*
/checkpoints/Inceptionv4/*
/checkpoints/Inceptionv3/*
/checkpoints/ResNet101/*

/data/record/BasicModule/motion/*
/data/record/BasicModule/spatial/*
/data/record/bninception/motion/*
/data/record/bninception/spatial/*
/data/record/Inceptionv4/motion/*
/data/record/Inceptionv4/spatial/*
/data/record/ResNet101/motion/*
/data/record/ResNet101/spatial/*
